<!DOCTYPE html>
<html>

	<head>
		<style type='text/css'>
			table td {
			border:none;
			}
		</style>
		
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<title>Figure 11.11</title>
		<link rel='stylesheet' href='lib/css/bootstrap-3.css'>
	</head>
	
	<!-- controller for the lab -->
	<body>
	
		<h1 class='text-center'>Figure 11.11</h1>
		<hr />
	<!-- main container for the index -->
	<div ng-app='assembly' ng-controller='assemblycontroller' class='container'>
	
		<div class ='row'>
			<div id='editor_button_group' class='col-lg-4 col-md-4 btn-group-horizontal'>
				<button type='button' class='btn btn-success' ng-click='run()'>Run</button>
				<button type='button' class='btn btn-primary' ng-click='walk()'>Walk</button>
				<button type='button' class='btn btn-danger' ng-click='reset()'>Reset</button>
				<button type='button' class='btn btn-warning' ng-click='pause()'>Pause</button>
				<button type='button' class='btn btn-default'>2/16</button>
			</div>
		</div>
		<br>
		<div class='row'>
		
		<div class='col-lg-8 col-md-8' id='table' style='overflow-y: scroll; border: 1px solid black; height: 200px' id='fig113'>
			<table id='program'>
				<tr>
									<td></td>
									<td>*</td>
									<td>I</td>
									<td>.Block</td>
									<td>1</td>
									<td></td>
									<td></td>
									<td>;</td>
									<td>var i;  //  Numeric</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td>A</td>
									<td>.Block</td>
									<td>30</td>
									<td></td>
									<td></td>
									<td>;</td>
									<td>var a = new array(30); // Numeric</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>LoadImm</td>
									<td>RegA</td>
									<td>0</td>
									<td></td>
									<td>;</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Store</td>
									<td>RegA</td>
									<td>I</td>
									<td></td>
									<td>;</td>
									<td>i = 0;</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td>LOOP</td>
									<td>Load</td>
									<td>RegA</td>
									<td>I</td>
									<td></td>
									<td>;</td>
									<td>while (i  < 30) </td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>LoadImm</td>
									<td>RegB</td>
									<td>30</td>
									<td></td>
									<td>;</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Compare</td>
									<td>RegA</td>
									<td>RegB</td>
									<td></td>
									<td>;</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Branch</td>
									<td>GE</td>
									<td>ENDLP</td>
									<td></td>
									<td>;</td>
									<td>{</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>LoadImm</td>
									<td>RegA</td>
									<td>1</td>
									<td></td>
									<td>;</td>
									<td>Register A assigned the base address of array a</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Load</td>
									<td>RegB</td>
									<td>I</td>
									<td></td>
									<td>;</td>
									<td>Register B assigned the value of subscript i </td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Add</td>
									<td>RegC</td>
									<td>RegA</td>
									<td>RegB</td>
									<td>;</td>
									<td>Register C assigned  the address of a[i]</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>LoadImm</td>
									<td>RegD</td>
									<td>-1</td>
									<td></td>
									<td>;</td>
									<td>Register D assigned the constant  -1</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>StoreInd</td>
									<td>RegD</td>
									<td>RegC</td>
									<td></td>
									<td>;</td>
									<td>a[i] = -1;</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Load</td>
									<td>RegA</td>
									<td>I</td>
									<td></td>
									<td>;</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>LoadImm</td>
									<td>RegB</td>
									<td>1</td>
									<td></td>
									<td>;</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Add</td>
									<td>RegC</td>
									<td>RegA</td>
									<td>RegB</td>
									<td>;</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Store</td>
									<td>RegC</td>
									<td>I</td>
									<td></td>
									<td>;</td>
									<td>i = i + 1;</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td></td>
									<td>Jump</td>
									<td>LOOP</td>
									<td></td>
									<td></td>
									<td>;</td>
									<td>}</td>
								</tr>
								<tr>
									<td></td>
									<td>*</td>
									<td>ENDLP</td>
									<td>Halt</td>
									<td></td>
									<td></td>
									<td></td>
									<td>;</td>
									<td></td>
								</tr>
			</table>
		</div>
		
				<!-- begining of the tabs -->
				<tabset class='col-lg-8 col-md-8'>

					<!-- demo tab - shows all of the information for the current lab -->
					<tab heading='Figure'><br>
						<div class='container'>
							<div class='row'>								
								<div class='col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1'>
									<div id='table' style='width: 90px'>
										<table id='variables' class='table table-bordered' ng-repeat='var in variables'>
											<td>{{var.title}}</td><td>{{var.titletoo}}</td>
										</table>
									</div>
								</div>
							</div>
						</div>
					</tab>
					
					<!-- editor tab where you can make changes to the code -->
					<tab heading='Editor' disabled='true'><br>
						<div class='container'>
							<div class='row'>
								<div class='col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2'>
								
									<!-- table that shows the code -->
									<div id='table' style='overflow-y: scroll; border: 1px solid black; height: 200px; width: 350px'>
										<table id='commands'>
										</table>
									</div>
								</div>
								
								<!-- button group for the table and code -->
								<div class='col-lg-4 col-md-4'>
									<div id='editor_button_group' class='col-lg-4 col-md-4 btn-group-vertical'>
										<button type='button' class='btn btn-default' onclick='insertWord()'>Word</button>
										<button type='button' class='btn btn-default' onclick='insertBlock()'>Block</button>
										<button type='button' class='btn btn-default' onClick='insertLoad()'>Load</button>
										<button type='button' class='btn btn-default' onclick='insertStore()'>Store</button>
										<button type='button' class='btn btn-default' onclick='insertAdd()'>Add</button>
										<button type='button' class='btn btn-default' onclick='insertBranch()'>Branch</button>
									</div>
									<div id='editor_button_group' class='col-lg-4 col-md-4 btn-group-vertical'>
										<button type='button' class='btn btn-default' onclick='insertJump()'>Jump</button>
										<button type='button' class='btn btn-default' onclick='insertLoadImm()'>Load Imm</button>
										<button type='button' class='btn btn-default' onclick='insertAnd()'>And</button>
										<button type='button' class='btn btn-default' onclick='insertLoadIn()'>Load In</button>
										<button type='button' class='btn btn-default' onclick='insertStoreIn()'>Store In</button>
										<button type='button' class='btn btn-default' onclick='insertSub()'>Subtract</button>
									</div>
									<div id='editor_button_group' class='col-lg-4 col-md-4 btn-group-vertical'>
										<button type='button' class='btn btn-default' onclick='insertOr()'>Or</button>
										<button type='button' class='btn btn-default' onclick='insertCompare()'>Compare</button>
										<button type='button' class='btn btn-default' onclick='insertASL()'>ASL</button>
										<button type='button' class='btn btn-default' onclick='insertASR()'>ASR</button>
										<button type='button' class='btn btn-default' onclick='insertHalt()'>Halt</button>
										<button type='button' class='btn btn-default' onclick='insertNot()'>Not</button>
									</div>
								</div>
							</div>
						</div>
			
					</tab>
					
					<!-- tab containing the memory, register, program counters, and flags -->
					<tab heading='Architecture'><br>
						<div class='container'>
							<div class='row'>
								<div class='col-lg-4 col-md-4'>
								
									<!-- table containing the memory -->
									<div id='table' style='overflow-y: scroll; border: 1px solid black; height: 300px; width: 200px'>
									<table class='table table-bordered table-condensed' ng-repeat='mem in memory'>
											<tr>
											<td>{{mem.memno}}</td><td>{{mem.content}}</td>
											</tr>
									</table>
									</div>
								</div>
								
								<!-- table containing the register information -->
								<div class='col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1'>
									<div class='spanReg'>
										<table class='table table-bordered' ng-repeat='reg in register'>
											<tbody>
												<tr>
													<td>{{reg.content}}</td>
													<td>{{reg.value}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- program counter and instruction register table -->
								<div class='col-lg-2 col-md-2'>
									<table class='table table-bordered' style='height: 100px; width: 170px'>
										<thead>
											<tr>
												<th class='text-center'>Program Counter</th>
											</tr>
											<tr>
												<td class='text-center' ng-repeat='cnt in counter'>{{cnt.content}}</td>
											</tr>
											<tr>
												<th class='text-center'>Instruction Register</th>
											</tr>
											<tr>
												<td class='text-center'>0000-0000-0000-0000</td>
											</tr>
										</thead>
									</table> 									
									<!-- flag table -->
									<div class='row'>
										<div class='col-lg-2 col-md-2'>
											<table class='table table-bordered' style='height: 212px; width: 170px'>
												<thead>
													<tr>
														<th colspan='2' class='text-center'>Flags</th>
													</tr>
												</thead>
												<tbody>
														<tr>
														<td ng-repeat='carry in carryFlag'>{{carry.flag}}</td>
														<td>Carry Flag</td>
													</tr>
													<tr>
														<td ng-repeat='neg in negativeFlag'>{{neg.flag}}</td>
														<td>Negative Flag</td>
													</tr>
													<tr>
														<td ng-repeat='zero in zeroFlag'>{{zero.flag}}</td>
														<td>Zero Flag</td>
													</tr>
													<tr>
														<td ng-repeat='over in overflowFlag'>{{over.flag}}</td>
														<td>Overflow Flag</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
				<hr />	
		</div>
	</div>
		
		<!-- need to get it working so i dont need the online repositories -->
    	<script type='text/javascript' src='lib/js/angular.js'></script>
    	<script type='text/javascript' src='lib/js/jQuery.js'></script>
    	<script type='text/javascript' src='lib/js/less.js'></script>
    	<script type='text/javascript' src='lib/js/ui-bootstrap-0.10.0.js'></script>
    	<script type='text/javascript' src='lib/js/tabs.js'></script>
    	<script type='text/javascript' src='lib/js/ui-bootstrap.js'></script>   	
		<script type='text/javascript' src='js/assemblyui.js'></script>	
    	<script type='text/javascript' src='js/inputs.js'></script>
	</body>
</html>
