<!DOCTYPE html>
<html>

	<head>
		<style type='text/css'>
			table td {
			border:none;
			}
		</style>
		
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<title>Figure 11.6</title>
		<link rel='stylesheet' href='lib/css/bootstrap-3.css'>
	</head>
	
	<!-- controller for the lab -->
	<body>
	
		<h1 class='text-center'>Figure 11.6</h1><br>
	<!-- main container for the index -->
	<div ng-app='assembly' ng-controller='assemblycontroller' class='container'>
	
		<div class ='row'>
			<div class='btn-group-horizontal'>
				<button type='button' class='btn btn-success' ng-click='run()'>Run</button>
				<button type='button' class='btn btn-primary' ng-click='walk()'>Walk</button>
				<button type='button' class='btn btn-danger' ng-click='reset()'>Reset</button>
				<button type='button' class='btn btn-warning' ng-click='pause()'>Pause</button>
				<button type='button' class='btn btn-default'>2/16</button>
			</div>
		</div>
		<br>
		<div class='row'>
		
		<div class='col-lg-12 col-md-12' id='table' id='fig113'>
			<table id='program' class='spanTable'>
				<tr>
					<td></td>
					<td>*</td>
					<td>MINORS</td>
					<td>.Word</td>
					<td>0</td>
					<td></td>
					<td></td>
					<td>;</td>
					<td>declare and initialize the number of 'minors' to 0.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td>ADULTS</td>
					<td>.Word</td>
					<td>0</td>
					<td></td>
					<td></td>
					<td>;</td>
					<td>declare and initialize the number of 'adults' to 0.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td>AGE</td>
					<td>.Word</td>
					<td>21</td>
					<td></td>
					<td></td>
					<td>;</td>
					<td>declare and initialize the 'age' of the person to 21.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td>IF</td>
					<td>Load</td>
					<td>RegA</td>
					<td>AGE</td>
					<td></td>
					<td>;</td>
					<td>load the value of variable 'age' into register A.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>LoadImm</td>
					<td>RegB</td>
					<td>18</td>
					<td></td>
					<td>;</td>
					<td>load the constant value 18 into register B.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Compare</td>
					<td>RegA</td>
					<td>RegB</td>
					<td></td>
					<td>;</td>
					<td>compare registers A & B &#45; i.e., the value of 'age' to 18</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Branch</td>
					<td>LT</td>
					<td>THEN</td>
					<td></td>
					<td>;</td>
					<td>IF 'age' is less than 18 branch to 'then'.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Jump</td>
					<td>ELSE</td>
					<td></td>
					<td></td>
					<td>;</td>
					<td>otherwise jump to 'else'.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td>THEN</td>
					<td>Load</td>
					<td>Reg0</td>
					<td>MINORS</td>
					<td></td>
					<td>;</td>
					<td>THEN: load the number of minors into register 0.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>LoadImm</td>
					<td>Reg1</td>
					<td>1</td>
					<td></td>
					<td>;</td>
					<td>load the constant value 1 into register 1.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Add</td>
					<td>Reg0</td>
					<td>Reg0</td>
					<td>Reg1</td>
					<td>;</td>
					<td>add contents of register 1 to register 0.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Store</td>
					<td>Reg0</td>
					<td>MINORS</td>
					<td></td>
					<td>;</td>
					<td>update number of minors from register 0.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Jump</td>
					<td>ENDIF</td>
					<td></td>
					<td></td>
					<td>;</td>
					<td>go to the statement labelled 'endif'.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td>ELSE</td>
					<td>Load</td>
					<td>reg0</td>
					<td>ADULTS</td>
					<td></td>
					<td>;</td>
					<td>ELSE: load the number of adults into register 0. </td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>LoadImm</td>
					<td>Reg1</td>
					<td>1</td>
					<td></td>
					<td>;</td>
					<td>load the constant value  1 into register 1</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Add</td>
					<td>Reg0</td>
					<td>Reg0</td>
					<td>Reg1</td>
					<td>;</td>
					<td>add contents of register 1 to register 0.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td></td>
					<td>Store</td>
					<td>Reg0</td>
					<td>ADULTS</td>
					<td></td>
					<td>;</td>
					<td>update number of adults from register 0.</td>
				</tr>
				<tr>
					<td></td>
					<td>*</td>
					<td>ENDIF</td>
					<td>HALT</td>
					<td></td>
					<td></td>
					<td></td>
					<td>;</td>
					<td>halt execution of this assembly language program.</td>
				</tr>
			</table>
		</div>
		
				<!-- begining of the tabs -->
				<tabset class='col-lg-12 col-md-12'>

					<!-- demo tab - shows all of the information for the current lab -->
					<tab heading='Figure'><br>
						<div class='container'>
							<div class='row'>								
								<div class='col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1'>
									<div id='table' style='width: 90px'>
										<table id='variables' class='table table-bordered'>
											<thead><tr><th colspan='2' class='text-center'>Memory</th></tr></thead>
											<tbody ng-repeat='mem in varMemory'><tr><td>{{mem.title}}</td><td>{{mem.value}}</td></tr></tbody>
										</table>
									</div>
								</div>
								<div class='col-lg-2 col-md-2'>
									<div id='table' style='width: 90px'>
										<table id='variables' class='table table-bordered' >
											<thead><tr><th colspan='2' class='text-center'>Register</th></tr></thead>
											<tbody ng-repeat='reg in varRegister'><tr><td>{{reg.title}}</td><td>{{reg.value}}</td></tr></tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</tab>
					
					<!-- editor tab where you can make changes to the code -->
					<tab heading='Editor' disabled='true'><br>
						<div class='container'>
							<div class='row'>
								<div class='col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2'>
								
									<!-- table that shows the code -->
									<div id='table' style='overflow-y: scroll; border: 1px solid black; height: 200px; width: 350px'>
										<table id='commands'>
										</table>
									</div>
								</div>
								
								<!-- button group for the table and code -->
								<div class='col-lg-4 col-md-4'>
									<div id='editor_button_group' class='col-lg-4 col-md-4 btn-group-vertical'>
										<button type='button' class='btn btn-default' onclick='insertWord()'>Word</button>
										<button type='button' class='btn btn-default' onclick='insertBlock()'>Block</button>
										<button type='button' class='btn btn-default' onClick='insertLoad()'>Load</button>
										<button type='button' class='btn btn-default' onclick='insertStore()'>Store</button>
										<button type='button' class='btn btn-default' onclick='insertAdd()'>Add</button>
										<button type='button' class='btn btn-default' onclick='insertBranch()'>Branch</button>
									</div>
									<div id='editor_button_group' class='col-lg-4 col-md-4 btn-group-vertical'>
										<button type='button' class='btn btn-default' onclick='insertJump()'>Jump</button>
										<button type='button' class='btn btn-default' onclick='insertLoadImm()'>Load Imm</button>
										<button type='button' class='btn btn-default' onclick='insertAnd()'>And</button>
										<button type='button' class='btn btn-default' onclick='insertLoadIn()'>Load In</button>
										<button type='button' class='btn btn-default' onclick='insertStoreIn()'>Store In</button>
										<button type='button' class='btn btn-default' onclick='insertSub()'>Subtract</button>
									</div>
									<div id='editor_button_group' class='col-lg-4 col-md-4 btn-group-vertical'>
										<button type='button' class='btn btn-default' onclick='insertOr()'>Or</button>
										<button type='button' class='btn btn-default' onclick='insertCompare()'>Compare</button>
										<button type='button' class='btn btn-default' onclick='insertASL()'>ASL</button>
										<button type='button' class='btn btn-default' onclick='insertASR()'>ASR</button>
										<button type='button' class='btn btn-default' onclick='insertHalt()'>Halt</button>
										<button type='button' class='btn btn-default' onclick='insertNot()'>Not</button>
									</div>
								</div>
							</div>
						</div>
			
					</tab>
					
					<!-- tab containing the memory, register, program counters, and flags -->
					<tab heading='Architecture'><br>
						<div class='container'>
							<div class='row'>
								<div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 spanMem'>
									<table class='table table-bordered' ng-repeat='mem in memory'>
											<tr>
												<th>{{mem.memno}}</th><td>{{mem.con1}}</td><td>{{mem.con2}}</td><td>{{mem.con3}}</td><td>{{mem.con4}}</td>
											</tr>
									</table>
								</div>
								
								<!-- table containing the register information -->
								<div class='col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1 spanReg'>
									<table class='table table-bordered'  ng-repeat='reg in register'>
										<tbody>
											<tr>
												<td>{{reg.content}}</td><td>{{reg.value}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- program counter and instruction register table -->
								<div class='col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1'>
									<table class='table table-bordered' style='height: 100px; width: 170px'>
										<thead>
											<tr>
												<th class='text-center' colspan='4'>Program Counter</th>
											</tr>
											<tr>
												<td class='text-center' colspan='4' ng-repeat='cnt in counter'>{{cnt.content}}</td>
											</tr>
											<tr>
												<th class='text-center' colspan='4'>Instruction Register</th>
											</tr>
											<tr ng-repeat='inst in instructionRegister'>
												<td>{{inst.con1}}</td><td>{{inst.con2}}</td><td>{{inst.con3}}</td><td>{{inst.con4}}</td>
											</tr>
										</thead>
									</table> 									
									<!-- flag table -->
									<div class='row'>
										<div class='col-lg-2 col-md-2'>
											<table class='table table-bordered' style='height: 212px; width: 170px'>
												<thead>
													<tr>
														<th colspan='2' class='text-center'>Flags</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td ng-repeat='carry in carryFlag'>{{carry.flag}}</td>
														<td>Carry Flag</td>
													</tr>
													<tr>
														<td ng-repeat='neg in negativeFlag'>{{neg.flag}}</td>
														<td>Negative Flag</td>
													</tr>
													<tr>
														<td ng-repeat='zero in zeroFlag'>{{zero.flag}}</td>
														<td>Zero Flag</td>
													</tr>
													<tr>
														<td ng-repeat='over in overflowFlag'>{{over.flag}}</td>
														<td>Overflow Flag</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
				<br>	
		</div>
	</div>
		
		<!-- need to get it working so i dont need the online repositories -->
    	<script type='text/javascript' src='lib/js/angular.js'></script>
    	<script type='text/javascript' src='lib/js/jQuery.js'></script>
    	<script type='text/javascript' src='lib/js/less.js'></script>
    	<script type='text/javascript' src='lib/js/ui-bootstrap-0.10.0.js'></script>
    	<script type='text/javascript' src='lib/js/tabs.js'></script>
    	<script type='text/javascript' src='lib/js/ui-bootstrap.js'></script>   	
		<script type='text/javascript' src='js/assemblyui.js'></script>	
    	<script type='text/javascript' src='js/inputs.js'></script>
	</body>
</html>
